body{
    font-family: 'Lato',sans-serif;
}

/* BARRA DE MAVEGACION */


@media (min-width:768px){
    .barra.bg-dark{
        background-color: transparent!important;
    }
    .header{
        position: relative;
    }
    .header .barra{
        position:absolute;
        z-index: 100;
        width: 100%;
    }
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 300;
}
.navbar-brand span{
    font-weight: 900;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
    font-size: .9rem;
}

.dropdown-menu{
    background-color: #343a40;
    border: none;
    
    
}
.dropdown-menu .dropdown-item{
    color: #ffffff;
}
.dropdown-menu .dropdown-item:hover{
    background-color: #596572;
    transition: .3s;
}


/* CAROUSEL-CAPTION */

.carousel-caption h3{
    font-size: 2.4rem;
}
.bloque-info p{
    font-size: 1.4rem;
}
.venta{
    background-color: #71b100;
}
.btn-warning{
    background-color: #e08709;
    color: #ffffff;
    font-weight: 700;
}

/* NOSOTROS */

.sobre-nosotros h3{
    font-size: 1.2rem;
    font-weight: 700;
}

/* DEPARTAMENTOS */

.anuncios .card{
    margin-bottom: 2rem;
}
.card-precio{
    font-size: 1.1rem;
    color: #71b100;
}

.card-descripcion img{
    margin-right: .5rem;
}
.encuentra{
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.encuentra .row{
    height: 25rem;
    
}
.encuentra h3{
    font-size: 2.2rem;
    font-weight: 900;
}

/* BLOG */

.entrada h3::after{
    content: '';
    display: block;
    width: 8rem;
    height: .2rem;
    background-color: #71b100;
    margin-top: .5rem;
    
}
@media (max-width:768px){
    .entrada h3::after{
        display: none;
        
        
        
    }
}
.meta span{
    color: #e08709;
}
.btn-success{
    border: none;
    background-color: #71b100;
    font-weight: 700;
}
.btn-success:hover{
    
    background-color: #588a02;
    
}

/* TESTIMONIALES */
.testimoniales{
    background-color: #71b100;
    border-radius: 10px;
}
.testimoniales .carousel-item{
    padding-left: 2rem;
}
.testimoniales .testimonial-texto{
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 300;
}
.testimoniales .testimonial-texto::before{
    content: open-quote;
    font-size: 4rem;
    position: absolute;
    left: 0;
    top: 1rem;
    font-weight: 900;

}
.testimoniales span{
    font-size: 1.4rem;
    font-weight: 700;
}
.footer .nav-link{
    color: #ffffff;
}
.footer .nav-link:hover{
    color: #817d7d;
}

